---
layout: feed
section: blog
---

{% for item in site.categories.blog limit:1000 %}
{% capture date %}{{ item.date | date: '%B %Y' }}{% endcapture %}
{% capture ndate %}{{ item.next.date | date: '%B %Y' }}{% endcapture %}

{% if item.language == 'arabic' %}

<div id="{{item.id}}"  class="articleblog clearfix arabic hideblog">

    {% if item.splash or item.youtubeid %}


    {% if item.youtubeid %}
    {% capture youtubeurl %}{{item.youtubeid}}{% endcapture %}
    <div class="video-wrapper">
        <a href='{{site.baseurl}}{{item.url}}'><div class="youtubeThumbnail">
            <img width="100%" src='http://img.youtube.com/vi/{{youtubeurl}}/hqdefault.jpg' alt='' />
            <i class="fa fa-play iconPlay"></i>
        </div></a>
    </div>
    {% endif %}

    {% if item.splash && item.youtubeid %}
    {% if item.splash contains 'http' %}
    {% capture url %}{{item.splash}}{% endcapture %}
    {% else %}
    {% capture url %}{{site.baseurl}}{{item.splash}}/{% endcapture %}
    {% endif %}

    <div class='splash' href='{{site.baseurl}}{{item.url}}'>
        <a href='{{site.baseurl}}{{item.url}}'>
            <img width="100%" src='{{url}}' alt='' />
        </a>
    </div>
    {% endif %}

    {% else %}
    <div class='splash' href='{{site.baseurl}}{{item.url}}'>
        <a href='{{site.baseurl}}{{item.url}}'>
            <img width="100%" src='{{site.baseurl}}/img/IFPRI.png' alt='' />
        </a>
    </div>
    {% endif %}

    <div class="textContainer col-sm-12">

        <!-- Arabic Content   -->
        <div class="entryTitle blogClickable" style="text-align:right; direction: rtl;" title="{{ item.id }}"><a id="{{ item.title | replace: ' ', '_' }}" class='itemTitle' title="{{ item.id }}" href='{{site.baseurl}}{{item.url}}'>{{item.title}}</a>
        </div>

        <div class='date'>
            <div class="dateText" style="text-align:right;">
                {{item.date | date:"%B %d, %Y"}}
            </div>

            <div class="dateText" style="text-align:right;"> إعداد:
                <span>{{ item.affiliation }}
                {% if item.author %}
                    - {{item.author}}
                {% endif %}
                </span></div>
        </div>

        {% if item.content %}
        <div class="summeryText" style="text-align:right;">{{ item.content | split: '<!-- more -->' | first }}</div>
        {% endif %}






    </div>

</div>

{% else %}

<div id="{{item.id}}" class="articleblog clearfix english showblog">

    {% if item.splash or item.youtubeid %}

    {% if item.youtubeid %}
    {% capture youtubeurl %}{{item.youtubeid}}{% endcapture %}
    <div class="video-wrapper">
        <a href='{{site.baseurl}}{{item.url}}'><div class="youtubeThumbnail">
            <img width="100%" src='http://img.youtube.com/vi/{{youtubeurl}}/hqdefault.jpg' alt='' />
            <i class="fa fa-play iconPlay"></i>
        </div></a>
    </div>
    {% endif %}

    {% if item.splash && item.youtube %}
    {% if item.splash contains 'http' %}
    {% capture url %}{{item.splash}}{% endcapture %}
    {% else %}
    {% capture url %}{{site.baseurl}}{{item.splash}}/{% endcapture %}
    {% endif %}

    <div class='splash' href='{{site.baseurl}}{{item.url}}'>
        <a href='{{site.baseurl}}{{item.url}}'>
            <img width="100%" src='{{url}}' alt='' />
        </a>
    </div>
    {% endif %}

    {% else %}
    <div class='splash' href='{{site.baseurl}}{{item.url}}'>
        <a href='{{site.baseurl}}{{item.url}}'>
            <img width="100%" src='{{site.baseurl}}/img/IFPRI.png' alt='' />
        </a>
    </div>
    {% endif %}


    <div class="textContainer col-sm-12">

        <div class="entryTitle blogClickable"><a id="{{ item.title | replace: ' ', '_' }}" title="{{ item.id }}" class='itemTitle' href='{{site.baseurl}}{{item.url}}'>{{item.title }}</a></div>
        <div class='date'>
            <div class="dateText">{{item.date | date:"%B %d, %Y"}}</div>
            {% if item.author %}
            <div class="dateText" >By:
                <span>{{ item.author }}
                    {% if item.affiliation %}
                        - {{item.affiliation}}
                    {% endif %}
                </span></div>
            {% endif %}
        </div>

        {% if item.content contains '<!-- more -->' %}
        <div class="summeryText" >{{ item.content | split: '<!-- more -->' | first }}</div>
        <!--<div class="summeryText" >{{ item.excerpt | strip_html}}...</div>-->
        {% else %}
        <div class="summeryText" >{{ item.content }}</div>
        {% endif %}

    </div>
</div>


{% endif %}


{% endfor %}
